- var DOMAIN = ''
- var OGP_IMAGE = DOMAIN + "images/common/ogp.png"
- var HOME_TITLE = ""

- 
	var PAGES = {
		home : {
			URL : 'index.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		component : {
			URL : 'component.html',
			PATH : '',
			TITLE : 'コンポーネント集',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
	}
