.l-contentsWidth
	width PC_RES_WID
	margin 0 auto

	.l-bgBlock &
		padding 60px 0
		+MQ_SP(SP_RES_WID)
			padding 30px 0

	+MQ_SP(SP_RES_WID)
		width auto

.l-columnBlock
	marginBottom(120)

.l-columnBox
	marginBottom(60)

.l-mqWrapper
	+MQ(PC_RES_WID)
		padding 0 10px
	+MQ_SP(SP_RES_WID)
		padding 0 15px