// /* DEFAULT_VARIABLE */

//コンテンツ幅
PC_CT_WID = 1040px
SP_CT_WID = 320px

//ブレイクポイント
SP_RES_WID_L= 1600px
PC_RES_WID = 960px
TB_RES_WID = 960px
SP_RES_WID = 768px
SP_SM_RES_WID = 600px


//カラー
DF_BG_COLOR = #FFF //背景色
DF_TEXT_COLOR = #333 //テキスト色

DF_SELECT_BG_COLOR = #F00 //選択時 背景色
DF_SELECT_TEXT_COLOR = #FFF //選択時 テキスト色
DF_URL_TEXT_COLOR = #337FC5 //選択時 テキスト色

POINT_COLOR01 = #2b193d
POINT_COLOR02 = #dfe5eb

//フォント
DF_FONT = "ヒラギノ角ゴ ProN W3", 'Hiragino Kaku Gothic ProN', "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", sans-serif
DF_FONT_MIN = "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;

// /* APPEND_VARIABLE */
SITE_COLOR = #F00 //サイトカラーなど